.logo{
    width: 150px;
    height: 80px;
}
.video-banner{
    width: 100%;
    height: 70%;
    margin: 0%;
    padding: 0%;
}
.first-footer{
  background:#DD1B2F ;  
  color: beige;
 
}

.content-footer{
    background:#DD1B2F ;
}
