*{
    padding: 0%;
    margin: 0%;
}

.logo{
    width: 200px;
    height: 100px;
    margin-left: 100px;
    display: block;
}
.video-banner{
    width: 100%;
    height: 50%;
    margin: 0%;
    padding: 0%;
}
footer{
  background:#DD1B2F ;  
  color: beige;
   
}

.content-footer{
    background:#DD1B2F ;
}
#contacto{
    color: white;
    
}
.logo-alicorp{
   width: 200px;
   height: 150px;
   margin-left: 70px;
}
.buscador{
    display:flex;
    justify-content: space-between;
}
.log{
    width: 15%;
}
.card{
    width: 30%;
    height: 20%;
}

.last-footer{
    background-color: beige;
    color: black;
    
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #DD1B2F;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #DD1B2F;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
.btn-ingresar{
    color: red;
    
}
.linkNext{
    border: red;
}
