*{
    padding: 0%;
    margin: 0%;
}

.logo{
    width: 150px;
    height: 80px;
    margin-left: 100px;
    display: block;
}
.video-banner{
    width: 100%;
    height: 50%;
    margin: 0%;
    padding: 0%;
}
footer{
  background:#DD1B2F ;  
  color: beige;
   
}

.content-footer{
    background:#DD1B2F ;
}
#contacto{
    color: white;
    
}
.logo-alicorp{
   width: 200px;
   height: 150px;
   margin-left: 70px;
}
.buscador{
    display:flex;
    justify-content: space-between;
    padding: 20px;
}
.log{
    /* width: 15%; */
    width: 150px;
}
.flex1 { flex: 1 1 5em; }
.flex2 { 
    flex: 2 2 30em;
    justify-content: center;
}
.btn-search {
    cursor: pointer;
    position: absolute;
    right: 17%;
    color: #a0a2a2;
    font-size: 22px;
    color: #6d777a;

}
.card{
    width: 30%;
    height: 20%;
}
.form-input {
   
    width: 70%;
    border-radius: 20px;
    background: #eeeeee;
    border-style: none;
    padding: 10px;
}
.link {
    color: #ffffff;
    font-size: 20px;
}
.nav-collapse {
    display: flex;
    justify-content: space-around;
}
.last-footer{
    background-color: beige;
    color: black;
    
}
